{
  "sdk_version": "1.1.3072",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "ScoreKeeper",
    "stats": true,
    "orientation": "portrait"
  },
  "app_id": "com.bengarney.scorekeeper",
  "app_name": "ScoreKeeper",
  "app_version": "1.2.4",
  "testflight_team_token": "290a029dbe053c6d40abb3d912e852d1_MzI3Nzg0MjAxNC0wMS0yMSAyMzo1Nzo0Mi4yNjkxNzc",
  "testflight_api_token": "22f490bf0223d9ece1c4f0b699571cb3_MTU4NDcwMjAxMS0wOS0xNiAxMzoyNzoyNS40ODYyNTc"
}